%size100 {
    width: 100%;
    height: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend %size100;
    max-width: inherit;

    .carousel {
        position: relative;
        width: 100vw;
        max-width: inherit;
        height: auto;

        .carousel-inner {
            @extend %size100;
            max-height: 600px;
            border: none;

            .carousel-item {
                min-height: 300px;

                img {
                    position: relative;
                    overflow: hidden;
                    min-height: 300px;
                    @extend %size100;
                    object-fit: cover;
                    object-position: bottom;
                    filter: brightness(85%);
                }

                @media (max-width: 420px) {
                    img {
                        max-height: 50vh;
                    }
                }
            }
        }
    }


    .text_hero {
        position: absolute;
        font-size: 5vw;
        max-width: 1150px;
        width: auto;
        overflow: hidden;
        padding-top: 18%;
        color: $lightgreen;

        @media (max-width: 768px) {
            font-size: 32px;
            padding: 12% 20vw;
        }

        @media (max-width: 599px) {
            display: none;
        }
    }

    .text_sm {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 12% 20vw;

        @media (min-width: 600px) {
            display: none;
        }

        .text_hero_sm {
            overflow: hidden;
            width: auto;
            font-size: 26px;
            padding: 0 0;
            color: $lightgreen;

        }
    }

    .whatsapp_button {
        margin-top: 32%;
        display: inline-block;
        position: absolute;
        background-color: $lightorange;
        color: white;
        padding: 2vh 4vw;
        border-radius: 1px;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 500;

        &:hover {
            background-color: $darkorange;
        }
    }

    @media (max-width: 760px) {
        .whatsapp_button {
            font-size: 10px;
            padding: 9px 22px;
            margin-top: 35%;
        }
    }

}

.bajada {
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem 2rem 3rem;
    align-content: center;

    h3 {
        margin-bottom: 1rem;
        font-weight: 400;
        max-width: 85vw;
        padding-left: 2rem;

        @media (max-width: 760px) {

            font-size: 16px;
            font-weight: 400;
        }
    }

    .video {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;

        iframe {
            width: 97vw;
            max-width: 900px;
            height: calc(100vw * 9 / 16);
            max-height: 520px;
            border: none;
            overflow: visible;
            padding: 8px;

        }
    }
}