* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: $textos;
    width: 98%;
    text-align: center;
    font-size: 36px;
    padding-top: 4rem;
    padding-bottom: 1rem;

    @media (max-width:500px) {
        font-size: 26px;
        width: 100%;

    }
}

h2 {
    display: flex;
    align-items: center;
    color: $textos;
    font-size: 24px;
    font-weight: 600;
    padding-top: 4rem;
    margin-bottom: 2rem;
}

h3 {
    color: $textos;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;

}

p {
    color: $textos;
    font-size: 20px;

}

header {
    z-index: 1000;
    height: 100%;
    position: static;
    width: 100vw;
    max-height: 100px;
    background-color: $darkgreen;
    border-bottom: 1px solid #a3a592;
    box-shadow: 0px 2px 4px 0px rgba(199, 206, 195, 0.758);

    @media (max-width: 760px) {

        max-height: 80px;
    }
}

.navbar {

    max-height: inherit;

    .container-fluid {
        padding: 0 0vw;

        .navbar-brand {
            margin-left: 5%;
        }

        img {
            height: 9vh;
            max-height: inherit;
            vertical-align: middle;
            align-items: center;
        }


        .navbar-toggler {
            border: none;
            margin-right: 2vw;

            &:focus {
                outline: none;
                box-shadow: none;
            }

            .menuhamb {
                width: 32px;
                height: 32px;
                fill: $lightgreen;

                &:focus {
                    fill: $darkorange;
                }

                @media (max-width: 480px) {
                    width: 1.2em;
                    height: 1.2em;
                }
            }
        }


        #offcanvasNavbar {
            width: 200px;

            .offcanvas-header {
                background-color: $darkgreen;
                padding-right: 2rem;

                .btn-close {
                    --bs-btn-close-color: $lightgreen;

                }

                .offcanvas-title {
                    color: $lightgreen;
                }
            }

            .offcanvas-body {
                background-color: $darkgreen;

            }
        }

        .navbar-nav {
            padding-right: 5%;

            .nav-item {
                display: block;
                padding-right: 15px;

                .nav-link {
                    text-decoration: none;
                    color: $lightgreen;
                    font-size: 16px;
                    font-weight: 300;

                    &.active {
                        color: $lightorange;
                        font-weight: 600;
                        font-size: 16px;
                    }

                    &:hover {
                        color: $darkorange;
                        font-weight: 400;
                    }

                    @media (max-width: 480px) {
                        font-size: 16px;
                    }

                    @media (max-width: 860px) {
                        text-align: right;
                    }
                }
            }
        }
    }
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $lightgreen;
    z-index: -1;
}


main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    max-width: 1250px;
    width: 98%;
    padding-top: 0px;
    padding-bottom: 128px;

}

section {
    max-width: inherit;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: $darkgreen;
    width: 100vw;
    height: 400px;

    .footer_content {
        display: flex;
        align-items: center;
        padding: 2rem 2rem 6px 2rem;
        gap: 2rem;

        img {
            width: 220px;
            padding-left: 2rem;
        }

        ul {
            text-decoration: none;
            padding-top: 32px;

            li {
                list-style-type: none;
                margin-left: 0;
                margin-bottom: 8px;

                a {
                    text-decoration: underline;
                    color: $lightgreen;
                    font-size: 18px;
                    font-weight: 300;
                    padding-left: 64px;


                }
            }
        }


        @media (max-width:680px) {

            flex-direction: column-reverse;
            align-items: start;
            gap: 0;

            img {
                width: 150px;
                padding-left: 1rem;
            }

            ul {
                text-decoration: none;
                padding-top: 0px;
                padding-left: 1rem;
                margin-bottom: 3rem;

                li {
                    list-style-type: none;
                    margin-left: 0;
                    margin-bottom: 10px;

                    a {
                        text-decoration: underline;
                        color: $lightgreen;
                        font-size: 14px;
                        font-weight: 300;
                        padding-left: 16px;
                    }
                }
            }
        }
    }


    .disclaimer {
        font-size: 10px;
        padding-left: 4rem;
        padding-right: 1rem;

        span {
            margin-top: 2rem;
            color: $lightgreen;
        }

        @media (min-width:600px) {
            font-size: 12px;
            padding-top: 32px;
            margin-left: 3%;
        }
    }
}