* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #5F6629;
  width: 98%;
  text-align: center;
  font-size: 36px;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
@media (max-width: 500px) {
  h1 h1 {
    font-size: 26px;
    width: 100%;
  }
}

h2 {
  display: flex;
  align-items: center;
  color: #5F6629;
  font-size: 24px;
  font-weight: 600;
  padding-top: 4rem;
  margin-bottom: 2rem;
}

h3 {
  color: #5F6629;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

p {
  color: #5F6629;
  font-size: 20px;
}

header {
  z-index: 1000;
  height: 100%;
  position: static;
  width: 100vw;
  max-height: 100px;
  background-color: #818944;
  border-bottom: 1px solid #a3a592;
  box-shadow: 0px 2px 4px 0px rgba(199, 206, 195, 0.758);
}
@media (max-width: 760px) {
  header header {
    max-height: 80px;
  }
}

.navbar {
  max-height: inherit;
}
.navbar .container-fluid {
  padding: 0 8vw;
}
.navbar .container-fluid .navbar-brand img {
  height: 9vh;
  max-height: inherit;
  vertical-align: middle;
  align-items: center;
}
.navbar .navbar-nav {
  padding-right: 5%;
}
@media (max-width: 860px) {
  .navbar .navbar-nav .navbar-nav {
    text-align: right;
  }
  .navbar .navbar-nav .nav-item {
    display: block;
    padding-right: 15px;
  }
}
.navbar .navbar-nav .nav-link {
  text-decoration: none;
  color: #BDC459;
  font-size: 16px;
  font-weight: 300;
}
.navbar .navbar-nav .nav-link .navbar-nav .nav-link.active {
  color: #ff7f50;
  font-weight: 400;
  font-size: 16px;
}
.navbar .navbar-nav .nav-link .navbar-nav .nav-link.active:hover {
  color: #ff7f50;
  font-weight: 400;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #818944;
  width: 100vw;
  height: 400px;
}
footer .footer_content {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 6px 2rem;
  gap: 2rem;
}
@media (max-width: 680px) {
  footer .footer_content .footer_content {
    flex-direction: column-reverse;
    align-items: start;
    gap: 0;
  }
}
footer .footer_content .menufooter .footer_content img {
  width: 220px;
  padding-left: 2rem;
}
@media (max-width: 600px) {
  footer .footer_content .menufooter .footer_content img .menufooter .footer_content img {
    width: 150px;
    padding-left: 1rem;
  }
}
footer .footer_content .menufooter ul {
  text-decoration: none;
  padding-top: 32px;
}
@media (max-width: 600px) {
  footer .footer_content .menufooter ul .menufooter ul {
    text-decoration: none;
    padding-top: 0px;
    padding-left: 1rem;
  }
}
footer .footer_content .menufooter ul .menufooter ul li {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 8px;
}
@media (max-width: 600px) {
  footer .footer_content .menufooter ul .menufooter ul li .menufooter ul li {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0px;
  }
}
footer .footer_content .menufooter ul .menufooter ul li .menufooter ul li a {
  text-decoration: underline;
  color: #BDC459;
  font-size: 18px;
  font-weight: 300;
  padding-left: 64px;
}
@media (max-width: 600px) {
  footer .footer_content .menufooter ul .menufooter ul li .menufooter ul li a .menufooter ul li a {
    text-decoration: underline;
    color: #BDC459;
    font-size: 14px;
    font-weight: 300;
    padding-left: 16px;
  }
}
footer .footer_content .disclaimer {
  font-size: 10px;
  padding-left: 4rem;
  padding-right: 1rem;
}
@media (min-width: 600px) {
  footer .footer_content .disclaimer .disclaimer {
    font-size: 12px;
    padding-top: 32px;
    margin-left: 3%;
  }
}
footer .footer_content .disclaimer .disclaimer span {
  margin-top: 2rem;
  color: #BDC459;
}

/*# sourceMappingURL=estilos.css.map */
