* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #4f7532;
  width: 98%;
  text-align: center;
  font-size: 36px;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
@media (max-width: 500px) {
  h1 {
    font-size: 26px;
    width: 100%;
  }
}

h2 {
  display: flex;
  align-items: center;
  color: #4f7532;
  font-size: 24px;
  font-weight: 600;
  padding-top: 4rem;
  margin-bottom: 2rem;
}

h3 {
  color: #4f7532;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

p {
  color: #4f7532;
  font-size: 20px;
}

header {
  z-index: 1000;
  height: 100%;
  position: static;
  width: 100vw;
  max-height: 100px;
  background-color: rgb(107, 151, 68);
  border-bottom: 1px solid #a3a592;
  box-shadow: 0px 2px 4px 0px rgba(199, 206, 195, 0.758);
}
@media (max-width: 760px) {
  header {
    max-height: 80px;
  }
}

.navbar {
  max-height: inherit;
}
.navbar .container-fluid {
  padding: 0 0vw;
}
.navbar .container-fluid .navbar-brand {
  margin-left: 5%;
}
.navbar .container-fluid img {
  height: 9vh;
  max-height: inherit;
  vertical-align: middle;
  align-items: center;
}
.navbar .container-fluid .navbar-toggler {
  border: none;
  margin-right: 2vw;
}
.navbar .container-fluid .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.navbar .container-fluid .navbar-toggler .menuhamb {
  width: 32px;
  height: 32px;
  fill: #fbfbfb;
}
.navbar .container-fluid .navbar-toggler .menuhamb:focus {
  fill: #9b4d19;
}
@media (max-width: 480px) {
  .navbar .container-fluid .navbar-toggler .menuhamb {
    width: 1.2em;
    height: 1.2em;
  }
}
.navbar .container-fluid #offcanvasNavbar {
  width: 200px;
}
.navbar .container-fluid #offcanvasNavbar .offcanvas-header {
  background-color: rgb(107, 151, 68);
  padding-right: 2rem;
}
.navbar .container-fluid #offcanvasNavbar .offcanvas-header .btn-close {
  --bs-btn-close-color: $lightgreen;
}
.navbar .container-fluid #offcanvasNavbar .offcanvas-header .offcanvas-title {
  color: #fbfbfb;
}
.navbar .container-fluid #offcanvasNavbar .offcanvas-body {
  background-color: rgb(107, 151, 68);
}
.navbar .container-fluid .navbar-nav {
  padding-right: 5%;
}
.navbar .container-fluid .navbar-nav .nav-item {
  display: block;
  padding-right: 15px;
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 300;
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link.active {
  color: #f17e31;
  font-weight: 600;
  font-size: 16px;
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link:hover {
  color: #9b4d19;
  font-weight: 400;
}
@media (max-width: 480px) {
  .navbar .container-fluid .navbar-nav .nav-item .nav-link {
    font-size: 16px;
  }
}
@media (max-width: 860px) {
  .navbar .container-fluid .navbar-nav .nav-item .nav-link {
    text-align: right;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fbfbfb;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  max-width: 1250px;
  width: 98%;
  padding-top: 0px;
  padding-bottom: 128px;
}

section {
  max-width: inherit;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgb(107, 151, 68);
  width: 100vw;
  height: 400px;
}
footer .footer_content {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 6px 2rem;
  gap: 2rem;
}
footer .footer_content img {
  width: 220px;
  padding-left: 2rem;
}
footer .footer_content ul {
  text-decoration: none;
  padding-top: 32px;
}
footer .footer_content ul li {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 8px;
}
footer .footer_content ul li a {
  text-decoration: underline;
  color: #fbfbfb;
  font-size: 18px;
  font-weight: 300;
  padding-left: 64px;
}
@media (max-width: 680px) {
  footer .footer_content {
    flex-direction: column-reverse;
    align-items: start;
    gap: 0;
  }
  footer .footer_content img {
    width: 150px;
    padding-left: 1rem;
  }
  footer .footer_content ul {
    text-decoration: none;
    padding-top: 0px;
    padding-left: 1rem;
    margin-bottom: 3rem;
  }
  footer .footer_content ul li {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 10px;
  }
  footer .footer_content ul li a {
    text-decoration: underline;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    padding-left: 16px;
  }
}
footer .disclaimer {
  font-size: 10px;
  padding-left: 4rem;
  padding-right: 1rem;
}
footer .disclaimer span {
  margin-top: 2rem;
  color: #fbfbfb;
}
@media (min-width: 600px) {
  footer .disclaimer {
    font-size: 12px;
    padding-top: 32px;
    margin-left: 3%;
  }
}

.hero .carousel .carousel-inner .carousel-item img, .hero .carousel .carousel-inner, .hero {
  width: 100%;
  height: 100%;
}

@keyframes pulse {
  0%, 50%, 100% {
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.05);
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: inherit;
}
.hero .carousel {
  position: relative;
  width: 100vw;
  max-width: inherit;
  height: auto;
}
.hero .carousel .carousel-inner {
  max-height: 600px;
  border: none;
}
.hero .carousel .carousel-inner .carousel-item {
  min-height: 300px;
}
.hero .carousel .carousel-inner .carousel-item img {
  position: relative;
  overflow: hidden;
  min-height: 300px;
  object-fit: cover;
  object-position: bottom;
  filter: brightness(85%);
}
@media (max-width: 420px) {
  .hero .carousel .carousel-inner .carousel-item img {
    max-height: 50vh;
  }
}
.hero .text_hero {
  position: absolute;
  font-size: 5vw;
  max-width: 1150px;
  width: auto;
  overflow: hidden;
  padding-top: 18%;
  color: #fbfbfb;
}
@media (max-width: 768px) {
  .hero .text_hero {
    font-size: 32px;
    padding: 12% 20vw;
  }
}
@media (max-width: 599px) {
  .hero .text_hero {
    display: none;
  }
}
.hero .text_sm {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 12% 20vw;
}
@media (min-width: 600px) {
  .hero .text_sm {
    display: none;
  }
}
.hero .text_sm .text_hero_sm {
  overflow: hidden;
  width: auto;
  font-size: 26px;
  padding: 0 0;
  color: #fbfbfb;
}
.hero .whatsapp_button {
  margin-top: 32%;
  display: inline-block;
  position: absolute;
  background-color: #f17e31;
  color: white;
  padding: 2vh 4vw;
  border-radius: 1px;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: 500;
  animation-name: pulse;
  animation-duration: 0.25s;
  animation-delay: 4s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
  transition: 100ms;
}
.hero .whatsapp_button:hover {
  background-color: #9b4d19;
  transform: scale(1.1, 1.1);
}
@media (max-width: 760px) {
  .hero .whatsapp_button {
    font-size: 10px;
    padding: 9px 22px;
    margin-top: 39%;
  }
}

.bajada {
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem 2rem 3rem;
  align-content: center;
}
.bajada h3 {
  margin-bottom: 1rem;
  font-weight: 400;
  max-width: 85vw;
  padding-left: 2rem;
}
@media (max-width: 760px) {
  .bajada h3 {
    font-size: 16px;
    font-weight: 400;
  }
}
.bajada .video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
.bajada .video iframe {
  width: 97vw;
  max-width: 900px;
  height: 56.25vw;
  max-height: 520px;
  border: none;
  overflow: visible;
  padding: 8px;
}

.galeria_main {
  display: flex;
  flex-direction: column;
}
.galeria_main .galeria_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
  list-style: none;
}
.galeria_main .galeria_img li img {
  width: 350px;
  height: auto;
  margin: 6px;
  margin-bottom: 1rem;
}
@media (max-width: 787px) {
  .galeria_main .galeria_img li img {
    width: 80vw;
    height: auto;
    margin-bottom: 1rem;
    min-width: 290px;
  }
}

.productos_main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem 0;
}
@media (max-width: 990px) {
  .productos_main {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0rem;
  }
}
.productos_main h3 {
  margin-bottom: 2rem;
}
.productos_main img {
  width: 36vw;
  height: 27vw;
}
@media (max-width: 990px) {
  .productos_main img {
    width: 80vw;
    height: 54.5625vw;
  }
}
.productos_main .productos_lote {
  display: flex;
  gap: 2rem;
  padding: 0 10rem;
}
@media (max-width: 990px) {
  .productos_main .productos_lote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 2rem;
  }
}
.productos_main .productos_lote .product_tx_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 990px) {
  .productos_main .productos_lote .product_tx_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.productos_main .productos_lote .product_tx_btn .product_txt {
  max-width: 320px;
}
@media (max-width: 990px) {
  .productos_main .productos_lote .product_tx_btn .product_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
.productos_main .productos_lote .product_tx_btn .whatsapp_button_prod {
  background-color: #E6772F;
  color: white;
  padding: 20px 40px;
  border-radius: 1px;
  text-decoration: none;
  text-align: center;
  font-size: 79%;
  font-weight: bold;
  max-width: 305px;
  width: auto;
  animation-name: pulse;
  animation-duration: 0.3s;
  animation-delay: 4s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
.productos_main .productos_lote .product_tx_btn .whatsapp_button_prod:hover {
  background-color: #9b4d19;
}

.master_main {
  display: flex;
  padding: 2rem 48px;
  align-content: flex-start;
  vertical-align: top;
  gap: 4%;
}
@media (max-width: 1020px) {
  .master_main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 36px;
    vertical-align: top;
  }
}
.master_main .master_img img {
  width: 70vw;
  margin-left: 1rem;
  max-width: 730px;
}
.master_main .master_img img:hover {
  transform: scale(1.05, 1.05);
  transition: ease-in-out 200ms;
}
@media (max-width: 1020px) {
  .master_main .master_img img {
    max-width: 830px;
    width: 86vw;
  }
  .master_main .master_img img:hover {
    transform: scale(1.05, 1.05);
    transition: ease-in-out 200ms;
  }
}
.master_main .master_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0rem;
  margin-left: 0rem;
  padding-right: 2rem;
}
@media (max-width: 1020px) {
  .master_main .master_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: 1rem;
    padding-right: 5rem;
  }
}
.master_main .master_text h2 {
  padding-top: 0;
}
.master_main .master_text p {
  margin-bottom: 1.2rem;
  padding-right: 0.2rem;
  font-size: 100%;
}

.contacto_main .contacto_textos .contacto_visitanos a, .contacto_main .contacto_textos .datos_contacto ul li a {
  text-decoration: none;
  text-decoration: underline;
  color: #4f7532;
  font-weight: 500;
}

.contacto_main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem 2rem;
}
@media (max-width: 787px) {
  .contacto_main {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 2rem 2rem;
  }
}
.contacto_main .contacto_mapa iframe {
  width: 60vw;
  max-width: 650px;
  height: auto;
  min-height: 400px;
}
@media (max-width: 787px) {
  .contacto_main .contacto_mapa iframe {
    width: 80vw;
    height: 40vh;
    min-height: 220px;
  }
}
.contacto_main .contacto_textos {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  vertical-align: top;
  max-width: 330px;
}
.contacto_main .contacto_textos h2 {
  padding-top: 0;
}
.contacto_main .contacto_textos .datos_contacto {
  margin-bottom: 2rem;
}
.contacto_main .contacto_textos .datos_contacto ul {
  padding-left: 1rem;
}
.contacto_main .contacto_textos .datos_contacto ul li {
  list-style-type: none;
  text-decoration: none;
  color: #4f7532;
}
.contacto_main .contacto_textos .datos_contacto ul li a {
  margin-bottom: 6px;
}
.contacto_main .contacto_textos .contacto_visitanos {
  padding-left: 1rem;
}

/*# sourceMappingURL=estilos.css.map */
