* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #BDC459;
    z-index: -1;
}

h1 {
    color: #5F6629;
    width: 100%;
    text-align: center;
    font-size: 36px;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

@media (max-width:500px) {
    h1 {
        font-size: 26px;
    }


}

h2 {
    display: flex;
    align-items: center;
    color: #5F6629;
    font-size: 24px;
    font-weight: 600;
    padding-top: 4rem;
    margin-bottom: 2rem;
}

h3 {
    color: #5F6629;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;

}

p {
    color: #5F6629;
    font-size: 20px;

}

.invert {
    color: #BDC459;
}

header {
    z-index: 1000;
    height: 100%;
    position: static;
    width: 100vw;
    max-height: 100px;
    background-color: #818944;
    border-bottom: 1px solid #a3a592;
    box-shadow: 0px 2px 4px 0px rgba(199, 206, 195, 0.758);
}

@media (max-width: 760px) {
    header {
        max-height: 80px;


    }
}

.navbar {

    max-height: inherit;

}

.container-fluid {
    padding: 0 8vw;

}

.navbar-brand img {
    height: 9vh;
    max-height: inherit;
    vertical-align: middle;
    align-items: center;
}

.navbar-nav {
    padding-right: 5%;

}

@media (max-width: 860px) {
    .navbar-nav {
        text-align: right;
    }

    .nav-item {
        display: block;
        padding-right: 15px;
    }
}

.nav-link {
    text-decoration: none;
    color: #BDC459;
    font-size: 16px;
    font-weight: 300;
}

.navbar-nav .nav-link.active {
    color: #ff7f50;
    font-weight: 400;
    /* text-decoration: underline; */
    font-size: 16px;
}

.nav-link:hover {
    color: #ff7f50;
    font-weight: 400;
}



.whatsapp_button {
    margin-top: 28%;
    display: inline-block;
    position: absolute;
    background-color: #E6772F;
    color: white;
    padding: 2vh 4vw;
    border-radius: 1px;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 500;

}

@media (max-width: 760px) {
    .whatsapp_button {
        font-size: 10px;
        padding: 9px 22px;
        margin-top: 35%;
    }
}

.whatsapp_button:hover {
    background-color: #9b4d19;
}



.menuhamb {
    width: 32px;
    height: 32px;
    fill: #BDC459;
}

.menuhamb:focus {
    fill: #ff7f50;
}

@media (max-width: 480px) {
    .menuhamb {
        width: 1.2em;
        height: 1.2em;
    }
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    border: none;
    margin-right: 2vw;
}



@media (max-width: 480px) {
    .nav-link {
        font-size: 16px;
    }
}

#offcanvasNavbar {
    width: 200px;
}


.offcanvas-header {
    background-color: #5F6629;
    padding-right: 2rem;
}

.btn-close {
    --bs-btn-close-color: #BDC459;

}

.offcanvas-body {
    background-color: #818944;

}

.offcanvas-title {
    color: #BDC459;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    max-width: 1250px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 128px;

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: inherit;

}

.text_hero {
    position: absolute;
    font-size: 5vw;
    max-width: 1150px;
    width: auto;
    overflow: hidden;
    padding-top: 15%;
    color: #BDC459;
}

@media (max-width: 768px) {
    .text_hero {
        font-size: 32px;
        padding: 12% 20vw;

    }
}

@media (max-width: 599px) {
    .text_hero {
        display: none;
    }
}

.text_sm {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 12% 20vw;

}

.text_hero_sm {
    overflow: hidden;
    width: auto;
    font-size: 26px;
    padding: 0 0;
    color: #BDC459;

}

@media (min-width: 600px) {
    .text_sm {
        display: none;

    }
}

.carousel {
    position: relative;
    width: 100vw;
    max-width: inherit;
    height: auto;

}

.carousel-inner {
    width: 100%;
    height: 100%;
    max-height: 600px;
    border: none;
}

.carousel-item {
    min-height: 300px;

}

.carousel-item img {
    position: relative;
    overflow: hidden;
    min-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(85%);
}

@media (max-width: 420px) {
    .carousel-item img {
        max-height: 50vh;

    }

}

.bajada {
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem 2rem 3rem;
    align-content: center;
}

.bajada h3 {
    margin-bottom: 2rem;
    font-weight: 400;

}

@media (max-width: 760px) {
    .bajada h3 {
        font-size: 16px;
        font-weight: 400;

    }

}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.video iframe {
    width: 97vw;
    max-width: 900px;
    height: calc(100vw * 9 / 16);
    max-height: 520px;
    border: none;
    overflow: visible;
    padding: 8px;

}

.master_main {
    display: flex;
    padding: 2rem 48px;
    align-content: flex-start;
    vertical-align: top;
    gap: 4%;
}

@media (max-width: 1020px) {
    .master_main {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2rem 96px;
        vertical-align: top;

    }

}


.master_img img {
    width: 70vw;
    margin-left: 1rem;
    max-width: 730px;

}

@media (max-width: 1020px) {
    .master_img img {

        max-width: 830px;
        width: 70vw;
    }
}

.master_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0rem;
    margin-left: 0rem;
    padding-right: 2rem;

}

@media (max-width: 1020px) {
    .master_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 2rem;
        margin-left: 4rem;
        padding-right: 6rem;


    }

    .master_text h2 {
        padding-top: 0;

    }

    .master_text p {
        margin-bottom: 1.2rem;
        padding-right: 0.2rem;
        font-size: 100%;

    }

    .galeria_main {
        display: flex;
        flex-direction: column;

    }

    .galeria_img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 2rem;

    }

    .galeria_img li img {
        width: 400px;
        height: auto;
        margin-bottom: 1rem;

    }

    .contacto_main {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 2rem 2rem;
    }

    .contacto_mapa iframe {
        width: 550px;
    }

    .contacto_textos h2 {
        padding-top: 0;
    }

    .contacto_textos {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        vertical-align: top;
    }

    .datos_contacto {
        margin-bottom: 4rem;
    }

    .datos_contacto li {
        list-style-type: none;
        text-decoration: none;
        margin-bottom: 8px;
        color: #5F6629;

    }

    .datos_contacto li a {
        text-decoration: none;
        text-decoration: underline;
        color: #5F6629;
        font-weight: 500;

    }

    .contacto_visitanos a {
        text-decoration: none;
        text-decoration: underline;
        color: #5F6629;
        font-weight: 500;

    }



    .contacto ul li.texto a {
        color: #5F6629;
        text-decoration: underline;
        font-weight: 200;

    }

    .productos_main {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 2rem 0;
    }

    .productos_lote {
        display: flex;
        gap: 2rem;
        padding: 0 10rem;

    }

    .productos_casa {
        display: flex;
        gap: 2rem;
        padding: 0 10rem;
    }

    .productos_main img {
        width: 400px;
        height: 300px;
    }

    .productos_main h3 {
        margin-bottom: 2rem;

    }

    .whatsapp_button_prod {
        margin-top: 9rem;
        display: inline-block;
        position: absolute;
        background-color: #E6772F;
        color: white;
        padding: 20px 40px;
        border-radius: 1px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }

    .whatsapp_button_prod:hover {
        background-color: #9b4d19;
    }


    footer {
        display: flex;
        flex-direction: column;
        align-items: start;
        /* gap: 2rem; */
        background-color: #818944;
        width: 100vw;
        height: 360px;
    }

    .footer_content {
        display: flex;
        align-items: center;
        padding: 2rem 2rem 6px 2rem;
        gap: 2rem;


    }

    @media (max-width:600px) {
        .footer_content {
            flex-direction: column-reverse;
            align-items: start;
            gap: 0;
        }

    }

    .menufooter .footer_content img {
        width: 220px;
        padding-left: 2rem;
    }

    @media (max-width:600px) {
        .menufooter .footer_content img {
            width: 150px;
            padding-left: 1rem;

        }

    }

    .menufooter ul {
        text-decoration: none;
        padding-top: 32px;
    }

    @media (max-width:600px) {
        .menufooter ul {
            text-decoration: none;
            padding-top: 0px;
            padding-left: 1rem;
        }

    }


    .menufooter ul li {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 8px;

    }

    @media (max-width:600px) {
        .menufooter ul li {
            list-style-type: none;
            margin-left: 0;
            margin-bottom: 0px;
        }
    }

    .menufooter ul li a {
        text-decoration: underline;
        color: #BDC459;
        font-size: 18px;
        font-weight: 300;
        padding-left: 64px;
    }

    @media (max-width:600px) {
        .menufooter ul li a {
            text-decoration: underline;
            color: #BDC459;
            font-size: 14px;
            font-weight: 300;
            padding-left: 16px;
        }
    }

    .disclaimer {
        font-size: 10px;
        padding-left: 4rem;
        padding-right: 1rem;

    }

    .disclaimer span {
        margin-top: 2rem;
        color: #BDC459;
    }

    @media (min-width:600px) {
        .disclaimer {
            font-size: 12px;
            /* padding-left: 4rem; */
            /* padding-right: 1rem; */
            padding-top: 32px;
            margin-left: 3%;


        }


    }